@media (prefers-color-scheme: light) {
    :root {
      --bgcolor: #fff;
      --textcolor: #000;
      --body: rgb(0, 162, 255);
      --bodyh: rgb(0, 17, 255);

    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bgcolor: #000;
      --textcolor: #fff;
      --body: rgb(62, 139, 255);
      --bodyh: rgb(105, 195, 255);
    }
  }
  
  body a {
    color: var(--body);
  }
  
  body a:hover {
    color: var(--bodyh);
  }
  
  body {
    background-color: var(--bgcolor);
    color: var(--textcolor);
  }
  
  a {
    transition: 0.5s;
    display: block;
    text-decoration: none;
    margin-right: 35px;
  }
  textarea{
    background-color: var(--bgcolor);
    color: var(--textcolor);
  }
